*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: var(--height-header);
    background-image: linear-gradient(0,#fe6532,#f53d2d);
}

/*CSS navbar  */
.header__navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: var(--height-navbar);
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    position: relative;
    margin-top: 4px;
    align-items: center;
    display: flex;
}

.header__navbar-item {
    padding: 0 12px;
    margin-bottom: 5px;
}

.header__navbar-item-user{
   align-items: center;
}
.header__navbar-item-img{
   width: 22px;
   height: 22px;
   border-radius: 50%;
   border: 1px solid rgba( 0, 0, 0, 0.3);
}
.header__navbar-item-name{
   position: relative;
   margin-left: 3px;
   padding-right: -10px;
}

.header__navbar-user-list{
   position: absolute;
   z-index: 1;
   border: 0.5px solid #cecece;
   top: 100%;
   width: 176px;
   right: 12px;
   list-style: none;
   border-radius: 3px;
}

.header__navbar-user-item{
   padding: 10px;
   background-color: var(--white-color);
}

.header__navbar-user-item:hover{
   background-color: #eeeded;
}

.header__navbar-user-item a{
   color: var(--text-color) !important;
   font-weight: 700 !important;
}

.header__navbar-item--has-QR:hover .header__QR{
    display: block;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.fa-facebook:hover,.fa-instagram:hover{
    color: hsla(0,0%,100%,.7);
    cursor: pointer;
}

.header__navbar-title--no-pointer:hover,
.header__navbar-item--separate:hover{
    color: var(--white-color);
    cursor: default;
}

.header__navbar-item--bold{
    font-weight: 600 !important;
}

.header__navbar-item{
    display: inline-flex;
    padding-left: 0;
    color: var(--white-color);
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item a{
   display: inline-block;
   padding-left: 0;
   color: var(--white-color);
   font-size: 1.4rem;
   text-decoration: none;
   font-weight: 300;
}

/* .header__navbar-item--separate::after {
    content: " ";
    display: block;
    position: relative;
    border-right: 1px solid #fb9086;
    height: 16px;
    right: -7px;
    top: 50%;
    transform: translateY(-100%);
} */

/* .header__navbar-item {
    padding: 0 8px;
}
.header__navbar-item--separate{
    border-right: 1px solid #FB9086;
} */
.header__navbar-item--separate {
    margin-top: -2px;
    opacity: 0.5;
    font-size: 1.8rem;
    font-weight: 300;
    cursor: default;
}

/* CSS icon */
.fa-facebook,
.fa-instagram{
    position: absolute;
    font-size: 1.6rem;
    color: var(--white-color);
    cursor: pointer;
   line-height: 0;
}

.fa-facebook{
    margin-left: -5px;
    margin-top: -10px;
}

.fa-instagram{
   font-size: 1.8rem;
    margin-left: 18px;
    margin-top: -11px;
}

/* CSS QR code */

.header__QR{
    position: absolute;
    background-color:#fff;
    width: 186px;
    top: 100%;
    left: 0;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation:appear ease-in 0.3s;
    box-shadow:0 0.3px 0.5px 0.3px rgb(236, 236, 236);
}

.header__QR::before{
    content: "";
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0;
    top: -10px;
}

.header__img-QR{
    width: 100%;
    align-items: space-between;
}

.header__QR-apps{
    display: flex;
}

.header__QR-appdown img{
    height: 15px;
    margin-right: 17px;
    
}

.header__QR-google{
    margin-left: 11px;
}

/*Header Notifycations */

.header__notify{
    position: absolute;
    border-radius: 5px;
    top:125%;
    right: 75.5%;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    transform-origin: 90%top ;
    animation: header__notify-grow ease-in 0.25s;
    will-change: opacity,transform;
    display: none;
    z-index: 1;
}

.header__notify::before{
    content:"";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 3px;
    top: -30px;
    position: absolute;
}

.header__notify::after{
    content:"";
    width: 84px;
    height: 20px;
    top: -17px;
    right: -3px;
    position: absolute;
}

.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3{
    color:#999;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    margin-left: 12px;
    cursor: default;
    user-select: none !important;
}

.header__notify-item{
    list-style: none;
    border-top:solid 0.1px rgb(211, 211, 211);
    line-height: 13px !important;
}

.header__navbar-item--hover:hover .header__notify{
    display: block;
}

.header__notify-item--viewed{
    background-color:rgb(240, 93, 64, 0.09) ;
}

.header__notify-item:hover{
    background-color: #f6f6f6;
}

.header__notify-link{
    display: flex !important;
    padding: 12px;
}

.header__notify-img{
    width:48px;
    padding-left:12px;
    object-fit: contain;
}

.header__notify-info{
    padding-left:12px;
}

.header__notify-name{
    color:var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-dec{
    color:#756F6E;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 4px;
}

.header__notify-footer{
    text-align: center;
}

.header__notify-footer-btn{
    color: var(--black-color) !important;
    padding: 10px 16px;
    border-top:solid 0.1px rgb(211, 211, 211);
    width: 100%;
    font-weight: 400;
}

@keyframes header__notify-grow{
    from{
        transform:scale(0) ;
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

/* Authen modal */

.auth-form{
   width: 500px;
   background-color: var(--white-color);
   overflow: hidden;
   border-radius: 5px;
}
.auth-form__container{
   padding: 32px;
}
.auth-form__header{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.auth-form__heading{
   font-size: 2.2rem;
   font-weight: 450;
   color:var(--text-color);
}
.auth-form__switch-btn{
   font-size: 1.6rem;
   color:var(--primary-color);
   cursor: pointer;
}
.auth-form__form{
   margin-top: 40px;
}

.auth-form__input{
   width: 100%;
   height: 40px;
   margin-bottom: 16px;
   padding: 0 12px;
   font-size: 1.4rem;
   border: 1px solid var(--border-color);
   border-radius: 2px;
   outline: none;
}

.auth-form__input:focus{
   border-color: #777;
}

.auth-form__asile{
   margin-top: 18px;
}
.auth-form__policy-text{
   font-size: 1.2rem;
   line-height: 1.8rem;
   text-align: center;
}
.auth-form__policy-link{
   text-decoration: none;
   color: var(--primary-color);
}
.auth-form__controls{
   margin-top: 50px;
   display: flex;
   justify-content: flex-end;
}

.auth-form__control-back{
   margin-right: 8px;
}

.auth-form__control-back:hover{
   background-color: #ccc;
}

.auth-form__socials{
   background-color: #eceaea;
   padding: 12px 36px;
   margin-top: -6px;
   display:flex;
   justify-content: space-between;
   align-items: center;
}
.btn.btn--with-icon-facebook{
   color: var(--white-color);
   background-color: #196aa7;
}

.btn.btn--with-icon-google{
   background-color: var(--white-color);
}

.fa-facebook-square-icon{
   margin: 0 36px;
}

.fa-facebook-square{
   padding-left: 8px;
   font-size: 2.2rem;
}

.fa-google-icon{
   margin: 0 36px;
}

.fa-google{
   padding-left: 8px;
   font-size: 2.2rem;
   background: conic-gradient(from -45deg, 
   #ea4335 110deg, 
   #4285f4 90deg 180deg, 
   #34a853 180deg 270deg, 
   #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
     -webkit-background-clip: text;
     background-clip: text;
     color: 
   transparent;
     -webkit-text-fill-color: 
   transparent;
}

.auth-form__help{
   display: flex;
   justify-content: flex-end;
}

.auth-form__help-link{
   text-decoration: none;
   font-size: 1.2rem;
   color: #7f7f7f;
}

.auth-form__help-link--forgot{
   color: var(--primary-color);
}

.auth-form__help-boundary{
   display: block;
   border-right: 1px solid #eaeaea;
   margin:-3px 14px;
   height: 22px;
}

/* Header search */

.header-search{
   height: var(--height-header-search);
   display:flex;
   justify-content: space-between;
   align-items: center;
}
.header__logo{
   width: 200px;
}

.header__logo-img{
   width: 150px;
   color:#0000ee;
   display:inline;
   font-size:14px;
   line-height:16.8px;
}
.header__search{
   flex: 1;
   height: 40px;
   background: var(--white-color);
   display: flex;
   border-radius: 2px;
}
.header__icon{
   /* width: 148px; */
   /* text-align: center; */
   position: relative;
   /* margin-bottom: 20px; */
}

.header__cart{
   width: 150px;
   text-align: center;
}

.header__cart-wrap{
   position: relative;
   display: inline-block;
   padding: 0 4px;
}

.header__cart-wrap:hover .header__cart-list{
   display: block;
}

.header__cart-list{
   position: absolute;
   top: calc(100% + 4px);
   right: -9px;
   width: 400px;
   height: auto;
   border-radius: 2px;
   border: 0.5px solid #e0dfdf;
   background-color: var(--white-color);
   cursor: default;
   text-align: center;
   display: none;
   animation: appear ease-in 0.2s;
}

.header__cart-list::after{
   position: absolute;
   content:"";
   cursor: pointer;
   border-width: 20px 30px;
   border-style: solid;
   border-color: transparent transparent var(--white-color) transparent;
   right: 0;
   top: -28px;
}

.header__cart-list-img-no-cart{
   width: 30%;
   margin-top: 15px;
   display: none;
}

.header__cart-list-info{
   font-size: 1.4rem;
   padding: 24px 0;
   user-select: none;
   display: none;
}

.header__cart-list--no-cart .header__cart-list-img-nocart,
.header__cart-list--no-cart .header__cart-list-info{
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.header__cart-icon{ 
   color: var(--white-color);
    line-height: 0;
    font-size: 24px;
    width: 40px;
    margin-top: 10px;
}

.header__cart-notice{
   position: absolute;
   font-size: 1.4rem;
   line-height: 12px;
   top: 4px;
   right: 4px;
   padding:0 6px;
   cursor: pointer;
   border-radius: 10px;
   border: 1px solid #EE4d2d;
   background-color: var(--white-color);
   color: var(--primary-color);
}

.header__cart-wrap{
   position: relative;
   display: inline-block;
}

.header__cart-heading{
font-size: 1.4rem;
font-weight: 400;
color: rgb(141, 141, 141);
top: 100%;
padding: 10px;
width: 100%;
text-align: left;
user-select: none;
}
.header__cart-list-item{
   list-style: none;
}
.header__cart-item{
   display: flex;
   align-items: center;
   padding: 10px;
   cursor: pointer;
}

.header__cart-item:hover{
   background-color: #f5f5f5;
}

.header__cart-item-remove:hover{
   color: var(--primary-color);
}

.header__cart-item-img{
   width: 52px;
   height: 52px;
   border: 0.5px solid #e8e8e8;
   display: inline-block;
}
.header__cart-item-info{
   width: 100%;
   margin-left: 10px;
}
.header__cart-item-head{
   display:flex;
   justify-content: space-between;
   margin-bottom: 10px;
   font-size: 1.4rem;
   color: var(--text-color);
}

.header__cart-item-price{
   color: var(--primary-color);
}
.header__cart-item-multify{
   font-size: 0.9rem;
   color:#757575;
   margin: 0 4px;
}
.header__cart-item-qnt{
   font-size: 1.2rem;
   color:#757575;
}
.header__cart-item-body{
   display:flex;
   justify-content: space-between;
   font-size: 1.2rem;
   align-items: center;
}
.header__cart-item-description{
   color:#757575;
}

.btn.btn--primary{
   float: right;
   margin: 24px 12px 14px 0;
}

.header__search-input-wrap{
   flex: 1;
}

.header__search-input{
   width: 100%;
   border: none;
   outline: none;
   height: 40px;
   padding-left: 16px;
   font-size: 1.4rem;
   border-radius: 2px;
}

.header__search-select{
   display:flex;
   justify-content: space-between;
   align-items: center;
   color: #000000;
   font-size:1.4rem;
   cursor: pointer;
   position: relative;
}
.header__search-select-lable{
   border-left: 1px solid #D3D3D3;
   padding-left: 12px;
   line-height: 22px;
}

.header__search-select-icon{
   margin: 0 12px;
}

.header__search-button{
   width: 60px;
   margin: 3px 3px 3px 0px;
   background-color: var(--primary-color);
   border: none;
   outline: none;
   border-radius: 2px;
}

.header__search-button:hover{
   background-color: #fb6445;
   cursor: pointer;
}

.header__search-select-icon{
   font-size: 1.2rem;
   color: rgb(144, 144, 144);
}

.header__search-button-icon{
   font-size: 1.4rem;
   color: var(--white-color);
}

.header__search-option{
   position: absolute;
   right:0;
   top: 100%;
   width: 120px;
   background-color: var(--white-color);
   display: none;
   animation: appear ease-in 0.2s;
}

.header__search-option-list{
   list-style: none;
   padding:12px;
   background-color: var(--white-color);
   box-shadow: 0 1px 2px 1px rgb(230, 227, 227);
}

.header__search-select:hover .header__search-option{
   display: block;
}

.header__search-option-list:hover{
   background-color: rgb(236, 235, 235);
}

.header__search-option-list:first-child{
   border-top-right-radius: 2px;
   border-top-left-radius: 2px;
}

.header__search-option-list:last-child{
   border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}
.header__search-option-icon{
   font-size: 1.4rem;
   float: right;
   color: rgb(211, 210, 210);
}

.header__search-option-icon-taked{
   color: var(--primary-color);
}

/* header history search */

.header__search-input-wrap{
   position: relative;

}

.header__search-history{
   position: absolute;
   top: calc(100% + 2px);
   left: 0;
   width: calc(100% - 16px);
   height:auto;
   border-radius: 2px;
   overflow: hidden;
   box-shadow: 0 0 3px rgb(200, 200, 200);
   background-color: var(--white-color);
   display: none;
}
.header__search-history-heading{
   font-size: 1.4rem;
   font-weight: 400;
   padding: 10px 0 10px 16px;
   color:#999;
}
.header__search-history-list{
   list-style: none;
}
.header__search-history-item:hover{
   background-color: #fafafa;
}

.header__search-history-item a{
   text-decoration: none;
   color: var(--text-color);
   font-size: 1.2rem;
   padding-left: 20px ;
   display:block;
   line-height: 38px;
}

.header__search-input:focus ~ .header__search-history{
   display: block;
}